################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/TextReaderApplication/.vs/TextReaderApplication/v17
/TextReaderApplication/bin/Debug/net6.0
/TextReaderApplication/obj
/TextReaderApplication/.vs/TextReaderApplication/DesignTimeBuild
